/* ---- Variables ---- */
$color-bg: hsl(355,100%,80%);
$color-title: hsl(25,90%,90%);
$color-tertiary: hsl(360,100%,90%);
$color-tagline: #fff;
$calendar1: hsl(355,80%,65%);
$calendar2: hsl(355,90%,75%);
$calendar3: hsl(355,100%,85%);
$medium-bg: hsl(60,100%,100%);
$linkedin-bg: hsl(60,100%,100%);
$github-bg: hsl(60,100%,100%);
$resume-bg: hsl(60,100%,100%);
$white: hsl(0,100%,100%);

/* ---- Fonts ---- */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url('/assets/fonts/Arvo/Arvo.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('/assets/fonts/PTSans-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* ---- Main Structure ---- */
html,
body,
#container,
#container-no-hide {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}
#loader {
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/loader.gif');
  background-size: 128px;
  background-repeat: no-repeat;
  background-position: center;
}
#container {
  opacity: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.box {
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: top;
}
.image-pic {
  border: 4px solid $color-tertiary;
  border-radius: 50%;
}
.name {
  font-size: 36px;
  color: $color-title;
  font-family: 'Arvo', sans-serif;
  white-space: nowrap;
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
   user-select: all;
}
#visual {
  position: relative;
  margin-right: 400px;
}
.content {
  background: $color-bg;
}

#sidebar {
  width: 400px;
  float: right;
  position: relative;
  z-index: 99;
  box-shadow: 0 0 16px 8px rgba(0,0,0,0.5);
}
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* ---- Side Content ---- */

#sidebar-outer-box {
  height: 100%;
  margin-bottom: -40px;
}
#sidebar-box {
  position: relative;
  margin: 0;
}
#sidebar-image-box {
  margin: auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
#sidebar-image {
  position: relative;
  top: -169px;
  left: 3px;
}
#sidebar-text {
  margin: 5%;
}
#sidebar-name {
  text-align: center;
}
#interests {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  font-style: italic;
  color: $color-tagline;
  white-space:nowrap;
}
#buttons {
  margin: auto;
  text-align: center;
}
.sm-pic {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 5px;
  top: 5px;
  border-radius: 40px;
  border: 4px solid $white;
  i {
    margin: 10px auto;
    color: $white;
    font-size: 25px;
  }
}
#medium:hover {
  background-color: $medium-bg;
}
#linkedin:hover {
  background-color: $linkedin-bg;
}
#github:hover {
  background-color: $github-bg;
}
#resume:hover {
  background-color: $resume-bg;
}
.footer {
  text-align: center;
  font-family: 'Arvo', sans-serif;
  font-size: 14px;
  color: $color-tertiary;
}
.footer a {
  text-decoration: none;
}
.footer a:link,
.footer a:visited {
  color: $color-tertiary;
}
.footer a:hover,
.footer a:active {
  color: $color-title;
}

/* ---- Navbar Content ---- */
#navbar {
  height: 80px;
  position: relative;
  z-index: 99;
  box-shadow: 0 0 16px 8px rgba(0,0,0,0.5);
}
#navbar-image {
  margin: 11px;
  width: 50px;
  height: 50px;
}
#navbar-name {
  display: inline;
  position: relative;
  top: -25px;
}

/* ---- Calendar ---- */
#calendar-box {
  padding: 50px 15px 15px 15px;
  text-align: center;
}
#calendar {
  max-width: 900px;
  margin: 0 auto;
}
.fc-center h2 {
  padding: 5px 3px;
}
.fc-event {
  border: 1px solid rgba(255,255,255,0);
  background-color: $color-bg;
}
.fc-button {
  box-shadow:none !important;
}
.fc-state-default {
  background-image: none;
}
.calendar1 {
  background-color: $calendar1;
}
.calendar2 {
  background-color: $calendar2;
}
.calendar3 {
  background-color: $calendar3;
}

/* ---- Slider ---- */
#slider {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: relative;
  z-index: -10;
}
.slide-img {
  width: 100%;
  height: 100%;
}
.slide1 {
  background-image: url('/assets/img/bg1.jpg');
  background-size: cover;
  background-position: center;
}
.slide2 {
  background-image: url('/assets/img/bg2.jpg');
  background-size: cover;
  background-position: center;
}
.slide3 {
  background-image: url('/assets/img/bg3.jpg');
  background-size: cover;
  background-position: center;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.lean-slider {
  overflow: hidden;
}
.lean-slider-slide {
  display: block;
  position: absolute;
  opacity: 0;
}
.lean-slider-slide.current {
  opacity: 1;
}

#slider-direction-nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#slider-direction-nav a {
  float: left;
  display: block;
  width: 40%;
  height: 100%;
  background: url('/assets/img/arrow-left.png') no-repeat;
  background-size: 15px;
  background-position: 2% center;
  text-indent: -9999px;
  transition: opacity 0.2s linear;
  opacity: 0.2;
}
#slider-direction-nav a:hover {
  opacity: 0.8;
}
#slider-direction-nav .lean-slider-next {
  float: right;
  background: url('/assets/img/arrow-right.png') no-repeat;
  background-size: 15px;
  background-position: 98% center;
}

#slider-control-nav {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  transition: opacity 0.2s linear;
  opacity: 0.2;
}
.slider-wrapper:hover #slider-control-nav {
  opacity: 0.8;
}
#slider-control-nav a {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url('/assets/img/bullet.png') no-repeat 0 0;
  background-size: 14px;
  text-indent: -9999px;
  margin: 0 3px;
  transition: none;

  &.active {
    background: url('/assets/img/bullet_active.png') no-repeat 0 0;
    background-size: 14px;
  }
}

/* ---- SVG Paths ---- */
path {
  stroke-width: 4;
  stroke-linecap: round;
  fill: none;
}

.show {
  opacity: 1;
  transition: opacity 0.75s, box-shadow 0.75s;
}

.hide {
  opacity: 0;
  transition: opacity 0.75s, box-shadow 0.75s;
}
.show-bg {
  transition: background-image 0.75s, box-shadow 0.75s, opacity 0.75s;
}
.hide-bg {
  background: none !important;
  box-shadow: none !important;
  transition: background-image 0.75s, box-shadow 0.75s, opacity 0.75s;
}

.line-drawing {
  transition: opacity 0.75s;
}

.border-path {
  stroke: #aaa;
}

.img-path {
  stroke: #aaa;
}

.sm-path {
  stroke: #ddd;
}

.border-svg {
  position: absolute;
  right: 394px;
  height: 100%;
  width: 6px;
}

.img-svg {
  width: 170px;
  height: 170px;
}

.sm-svg {
  width: 60px;
  height: 60px;
}

.sm-pic-box {
  position: relative;
  width: 65px;
  height: 65px;
  display: inline-block;
}

/* ---- Vertical Layout ---- */

@media only screen and (max-width: 1024px) {
  .box {
    margin: 0;
    vertical-align: none;
  }
  #visual {
    width: 100% !important;
    height: 50%;
  }
  #sidebar {
    width: 100%;
    height: 50%;
  }
  #sidebar-image {
    left: 2px;
  }
  .border-svg {
    position: absolute;
    right: 0px;
    height: 6px;
    width: 100%;
  }
  #sidebar-box {
    top: 50%;
    text-align: center;
  }
  .sidebar-info {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
  .image-pic {
    left: 2px;
  }
}

@media only screen and (max-width: 728px) {
  #sidebar-name {
    font-size: 30px;
  }
  #sidebar-image-box {
    width: 110px;
    height: 110px;
  }
  #sidebar-text {
    margin: 2% 5%;
  }
  .img-svg {
    width: 110px;
    height: 110px;
  }
  #sidebar-image {
    width: 100px;
    height: 100px;
    top: -114px;
    left: 1px;
  }
  .sm-svg {
    width: 35px;
    height: 35px;
  }
  .sm-pic-box {
    width: 35px;
    height: 35px;
  }
  .sm-pic {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 5px;
  top: 5px;
  border-radius: 40px;
  border: 4px solid $white;
  i {
    margin: 10px auto;
    color: $white;
    font-size: 25px;
  }
}
  .sm-pic {
    width: 20px;
    height: 20px;
    border-radius: 13px;
    border: 2px solid $white;
    left: 7px;
    i {
      font-size: 12px;
      margin: 0;
    }
  }
  .sm-path {
    stroke-width: 2px;
  }
}
@media only screen and (max-width: 500px) {
  .sidebar-info {
    display: block;
  }
  #navbar-name {
    font-size: 26px;
  }
}
@media only screen and (max-width: 400px) {
  #visual {
    height: 45%;
  }
  #sidebar {
    height: 55%;
  }
  #sidebar-name {
    margin-top: 10px;
    font-size: 26px;
  }
  #interests {
    font-size: 14px;
  }
  #navbar-name {
    font-size: 22px;
    top: -30px;
  }
  .fc-prev-button,
  .fc-next-button {
    padding: 0 0.15em !important;
  }
  .fc-button-group .fc-button,
  .fc-left .fc-button {
    font-size: 0.85em;
  }
}
