@import '../../node_modules/bulma/sass/utilities/_all.sass';

$red: #fd8489;
$green: #a9dd9d;
$yellow: #fedf81;
$blue: #86acd7;
$purple: #e7d5ff;
$cyan: #a8d2eb;
$white: #ededed;
$gray: #ababab;

$body-background-color: $white;
$text: 222;
$link: $blue;
$link-visited: $link;
$primary: $red;

$family-primary: "Roboto Mono", monospace;
@import "../../node_modules/bulma/bulma";

a:focus,
a:hover,
a:active {
    color: darken($link, 10%);
    text-decoration: underline;
}

.hidden {
    display: none;
}

*:focus {
    outline: none;
}
