@import '../../node_modules/bulma/sass/utilities/_all.sass';

$primary: #E29686;
$success: #2691A5;
$info: #FAAA8F;
$warning: #F9C6B3;
$dark: #0F6983;

$body-background-color: $warning;
$content-background-color: #FDF1EC;
$text: $dark;
$link: $success;
$link-visited: $link;

$family-primary: "Karla", monospace;
@import "../../node_modules/bulma/bulma";

a:focus,
a:hover,
a:active {
    color: darken($link, 10%);
    text-decoration: underline;
}

.hidden {
    display: none;
}

*:focus {
    outline: none;
}

.hero {
  background-image: url("/assets/img/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-container {
  border: 1px solid $content-background-color;
}

.content {
  background-color: $content-background-color;
}
